body {
    background: rgb(31, 8, 8);
}

.error_message {
    color: #260C1A;
    animation: header 2.4s ease-in-out infinite alternate;
    text-align: center;
}

.error_message h1 {
    font-size: 15rem;
}

.home_link p {
    color: whitesmoke;
}

.home_link a {
    border: 2px solid whitesmoke;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}

@keyframes header {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #863168, 0 0 40px #863168, 0 0 50px #863168, 0 0 60px #863168, 0 0 70px #863168;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #FF4DA6, 0 0 40px #FF4DA6, 0 0 50px #FF4DA6, 0 0 60px #FF4DA6, 0 0 70px #FF4DA6, 0 0 80px #FF4DA6;
    }
}


/* FOR INDEX */