* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: nunito;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #B2967D 10%, #5F4842 90%);
    height: 100vh
}

.blogs {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(fit-content, 1fr));
    justify-self: center;
    width: fit-content;
}

.blog-item {
    width: 40%;
    height: 50%;
    padding: 0.5rem;
    /* margin: 0.5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-color: white;
    border-radius: 0.8rem;
    transition: 200ms ease;
    box-shadow: 7px -7px 4px grey;
}

.user {
    width: 90%;
    max-width: 540px;
    margin: 8vh auto;
}

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 15px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
    border: 3px solid black;
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: nunito;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: nunito;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: #291F1D;
    transition: 0.3s;
}

.btn:hover {
    background: #140f0e;
    color: rgb(144, 142, 142);
}

@keyframes NO {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }
    50% {
        background-position: 100% 0
    }
    100% {
        background-position: 0 0
    }
}

h1 {
    color: #fff;
    padding: 10px 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
}


/*  */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.card a {
    color: initial;
}

.card a:hover {
    text-decoration: initial;
}

#main-v {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.quote-wrapper {
    display: block;
    width: fit-content;
    padding: 5px;
    font-family: nunito;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    border: 2px solid black;
    border-radius: 6px;
}

.quote-btn {
    display: block;
    width: 40%;
    padding: 20px;
    font-family: nunito;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    border-radius: 6px;
    color: white;
    background: #291F1D;
    transition: 0.3s;
}

.quote-btn:hover {
    background: #140f0e;
    color: rgb(144, 142, 142);
    text-decoration: none;
}

.publish {
    font-size: 2rem;
}

.publish a {
    border: 2px solid black;
    padding: 5px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.6s;
}

.publish a:hover {
    background: #140f0e;
    color: rgb(144, 142, 142);
    text-decoration: none;
}